<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sudox.android"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1b52d7c00ea5730ee162bd375b807fc38f86e091" />

        <service
            android:name="com.sudox.android.data.auth.SudoxAuthenticatorService"
            android:exported="true">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="com.sudox.android.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.AuthActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.messages.MessagesActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:parentActivityName=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>
</manifest>
